<!DOCTYPE html>
<html>
    <head>
        {{ partial "head/style.html" . }}
        <meta charser="utf-8"/>
    </head>
    <body class="cv">
        <header>
            <h1>{{ .Site.Params.name }}</h1>
            <a href="https://{{ .Site.Params.websiteURL }}">{{ .Site.Params.websiteURL }}</a>
        </header>
        <main>
            <aside>
                <section class="contact">
                    <h2>{{ T "personalsInformations" }}</h2>
                    <ul class="infos-list not-a-list">
                        {{ with .Site.Params }}
                        <li><i class="nf nf-fa-user"></i>
                            <b>{{ .name }}</b>
                        </li>
                        <li><i class="nf nf-oct-location"></i>
                            <b>{{ .localisation }}</b>
                        </li>
                        <li><i class="nf nf-md-cake_variant"></i>
                            <b>{{ time.Format "2 Jan 2006" .birthDate }}</b>
                        </li>
                        <li>
                            <i class="nf nf-fa-phone"></i>
                            {{ .phone }}
                        </li>
                        <li>
                            <i class="nf nf-fa-envelope"></i>
                            {{ .email }}
                        </li>
                        {{ end }}
                        <li>
                            <i class="nf nf-md-web"></i>
                            <a href="https://{{ .Site.Params.websiteURL }}">
                                {{ .Site.Params.websiteURL }}
                            </a>
                        </li>
                        {{ range .Site.Params.socials }}
                        <li>
                            <i class="{{ .icon }}"></i>
                            <a href="{{ .link }}">
                                {{ .shortLink }}
                            </a>
                        </li>
                        {{ end }}
                    </ul>
                </section>

                <section class="languages">
                    <h2>{{ T "languages" }}</h2>
                    <ul class="not-a-list">
                        {{ range .Site.Params.language }}
                        <li>
                            <div class="language-title">
                                <span>{{ .name }}</span>
                                <span class="language-level">{{ .level }}</span>
                            </div>
                            <div class="range-bar" style="--bar-level: {{ .note }}">
                            </div>
                        </li>
                        {{ end }}
                    </ul>
                </section>

                <section class="skills">
                    <h2>{{ T "skills" }}</h2>
                    <ul> 
                        {{ range .Site.Params.shortSkills }}
                        <li>{{ . }}</li>
                        {{ end }}
                    </ul>
                </section>

                <section class="hobbies">
                    <h2>{{ T "hobbies" }}</h2>
                    <ul> 
                        {{ range .Site.Params.hobbies }}
                        <li>{{ . }}</li>
                        {{ end }}
                    </ul>
                </section>
                <span class="cv-date">{{ time.Now | time.Format "Jan 2006" }}</span>
            </aside>
            <div class="body">
                <section class="cv-presentation">
                    <h2>{{ T "presentation" }}</h2>
                    <p>
                        <b>{{ .Site.Params.firstSentence }}</b><br/>
                    {{ .Site.Params.presentation }}</p>
                </section>
                <section class="professional-experience">
                    <h2>{{ T "experience" }}</h2>
                    <ul>
                        {{ range sort .Site.Params.experience "weight" }}
                        <li>
                            <h3>{{ .name }}</h3>
                            <p>{{ .description }}</p>
                            <ul>
                                {{ range .detail }}
                                <li>{{ . }}</li>
                                {{ end }}
                            </ul>
                            <span>{{ .from }} {{ if .to }} — {{ .to }}{{ end }}</span>
                        </li>
                        {{ end }}
                    </ul>
                </section>

                <section class="studies">
                    <h2>{{ T "studies" }}</h2>
                    <ul>
                        {{ range sort .Site.Params.study "weight" }}
                        <li>
                            <h3>{{ .title }}</h3>
                            <div>
                                <span>{{ .location }}</span>
                                <span>{{ .from }} {{ if .to }} — {{ .to }}{{ end }}</span>
                            </div>
                        </li>
                        {{ end }}
                    </ul>
                </section>
                <!-- <section class="cv-project"> -->
                <!--     <h2>{{ T "myProjects" }}</h2> -->
                <!--     <ul class="project-list"> -->
                <!--         {{ $projects := .Site.Params.cvProjects }} -->
                <!--         {{ $portfolio := .Site.GetPage "/projects" }} -->
                <!--         {{ range $projects }} -->
                <!--         {{ $page := $portfolio.GetPage . }} -->
                <!--         {{ $page.Render "summary" }} -->
                <!--         {{ end }} -->
                <!--     </ul> -->
                <!-- </section> -->
                <section class="cv-footer">
                    <p><b>{{ .Site.Params.cvFooter }}</b></p>
                    {{ $url := printf 
                        "https://api.qrserver.com/v1/create-qr-code/?size=150x150&data=https://%s" 
                        .Site.Params.websiteURL }}
                    {{ $img := resources.GetRemote $url }}
                    <img src="{{ $img.RelPermalink }}"/>
                </section>
            </div>
        </main>
    </body>
</html>
