<!DOCTYPE>
<html>
    <head>
        
        {{ $vertexShader := resources.Get "js/shaders/vertexShader.glsl" }}
        {{ $fragmentShader := resources.Get "js/shaders/fragmentShader.glsl" }}
        {{ $string := (printf "const vertexShader = `%s`; const fragmentShader = `%s`;"
        ($vertexShader.Content) ($fragmentShader.Content)) }}
        {{ $shaders := $string | resources.FromString "js/shaders.js" }}
        <script src="{{ $shaders.RelPermalink }}"></script>

        {{ $js := resources.Get "js/fractal.js" }}
        <script type="module" src="{{ $js.RelPermalink }}" defer></script>

        <style>
            body {
                margin: 0;
            }
        </style>
    </head>
    <body>
        <!-- <canvas id="fractal"></canvas> -->
    </body>
</html>
