{{ $js := resources.Get "js/set_age.js" }}
<script type="text/javascript" src="{{ $js.Permalink }}" defer></script>

{{ $js := resources.Get "js/scrollAnimator.js" }}
<script type="text/javascript" src="{{ $js.Permalink }}" defer></script>

{{ $js := resources.Get "js/hero-animation.js" }}
<script type="text/javascript" src="{{ $js.Permalink }}" defer></script>
