<!-- Icons -->
<!-- <script src="https://kit.fontawesome.com/186f775cc9.js" crossorigin="anonymous"></script> -->

<link rel="stylesheet"
href="https://fonts.googleapis.com/css?family={{ site.Params.style.font }}">
<link rel="stylesheet"
href="https://www.nerdfonts.com/assets/css/webfont.css">

{{ $sass := resources.Get "sass/main.scss" }}
{{ $options := dict
    "targetPath" "css/style.css"
    "transpiler" "libsass"
}}
{{ $style := $sass | resources.ExecuteAsTemplate "" . | toCSS $options }}
<link rel="stylesheet" href="{{ $style.Permalink }}">
