{{ define "title" }}
{{ T "projects" }}
{{ end }}
{{ define "main" }}
<div class="projects-list-title">
    <h2>{{ T "myProjects" }}</h2>
</div>
<div class="project-list">
    {{ range .Pages }}
    <div class="animated-on-scroll fade-from-bottom">
        {{ .Render "summary" }}
    </div>
    {{ end }}
</div>
{{ end }}
