{{ define "title" }}
{{ .Title }}
{{ end }}
{{ define "main" }}
<article class="project-content">
    <div class="project-head">
        <h1 class="title">{{ .Title }}</h1>
        <div class="related-links">
            {{ with .Params }}
            {{ if .sourceCode }}
            <a class="button" href="{{ .sourceCode }}" target="_blank">
                <i class="nf nf-cod-code"></i>
                {{ T "sourceCode" }}
            </a>
            {{ end }}
            {{ if .download }}
            <a class="button" href="{{ .download }}" target="_blank">
                <i class="nf nf-md-download"></i>
                {{ T "download" }}
            </a>
            {{ end }}
            {{ end }}
        </div>
    </div>
    <div class="project-body">
        {{ if .GetTerms "tags" }}
        <!-- <div class="tag-list"> -->
        <!--     {{ T "tags" }} -->
        <!--     {{ range (.GetTerms "tags") }} -->
        <!--     <a class="tag-btn" href="{{ .Permalink }}">{{ .LinkTitle }}</a> -->
        <!--     {{ end }} -->
        <!-- </div> -->
        {{ end }}
        <div class="main-content">
        {{ .Content }}
        </div>
        <aside>
    </div>
</article>
{{ end }}
