<a class="project-summary" href="{{ .Permalink }}">
        <div class="thumbnail">
            {{ if .Params.thumbnail }}
            <img src="{{ path.Dir .RelPermalink}}{{ .Params.thumbnail }}" ></img>
            {{ end }}
        </div>
        <div class="detail">
            <h2>{{ .Title }}</h2>
            {{ if .Params.description }}
            <p>{{ .Params.description }}</p>
            {{ end }}
        </div>
</a>

