.animated-on-scroll:is(
    .fade-from-bottom,
    .fade-from-left,
    .fade-from-right,
    .fade-from-back,
    .fade-and-rotation) {
    position: relative;
    opacity: 0;
}

.animated-on-scroll.animate {
    opacity: 1;
    &.fade-from-bottom {
        animation: fade-bottom $animation-time ease-out;
    }
    &.fade-from-left {
        animation: fade-left $animation-time ease-out;
    }
    &.fade-from-right {
        animation: fade-right $animation-time ease-out;
    }
    &.fade-from-back {
        animation: fade-back $animation-time ease-out;
    }
    &.fade-and-rotation {
        animation: fade-rotation $animation-time ease-out;
    }
    
}

@keyframes fade-bottom {
    from {
        transform: translateY($animation-scale);
        opacity: 0;
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes fade-left {
    from {
        transform: translateX(- $animation-scale);
        opacity: 0;
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
}
@keyframes fade-right {
    from {
        transform: translateX($animation-scale);
        opacity: 0;
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes fade-back {
    from {
        transform: scale(0);
        opacity: 0;
    }
    to {
        transform: scale(1);
        opacity: 1;
    }
}

@keyframes fade-rotation {
    from {
        transform: rotateY(90deg);
        opacity: 0;
    }
    to {
        transform: rotateY(0deg);
        opacity: 1;
    }
}

.range-bar {
    &.animated-on-scroll {
        &::after{
            width: 0;
        }
        &.animate::after{
            animation: range-bar-animation $animation-time ease-out;
            animation-fill-mode: forwards;
        }
    }
}

@keyframes range-bar-animation {
    from {
        width: 0;
    }
    to {
        width: calc(var(--bar-level) * 100%);
    }
}
