*, *:after, *:before {
    box-sizing: border-box;
}

* {
    font-family: $font;
    color: #AAA;
}

html {
    scroll-behavior: smooth;
}

html > body {
    background-color: $background-0;

    margin: 0;
    padding: 0;
    font-size: 1em;
    max-width: 100%;
    overflow-x: hidden;
}

a {
    color: $primary;
    &, * {
    }
    text-decoration: none;
    &:hover {
        text-decoration: underline;
    }
}

a.button {
    cursor: pointer;
    color: $white;
    text-decoration: none;
    font-weight: normal;
    background-color: $primary-dark;
    padding: 0.5em 1em;
    margin: 0.5em;
    border-radius: 2rem;
    box-shadow: $shadow;
    transition: background-color 100ms;
    
    &:hover {
        background-color: $primary;
    }
    &>* {
        color: white;
    }
}

ul {
    margin: 0;
    margin-left: 2em;
    padding: 0;
    li {
        margin-block: 0.5em;
    }
}
ul.not-a-list {
    list-style: none;
    margin: 0;
    padding: 0;
    li {
        margin: 0;
        padding: 0;
    }
}

.range-bar {
    width: 100%;
    height: 1.5em;
    background-color: $background-1;
    --bar-color: #{$primary};
    border-radius: 1em;
    overflow: hidden;
    padding: 0.2em;
    isolation: isolate;
    position: relative;
    * {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
    }
}
.range-bar::after {
    content: "";
    z-index: -1;
    background-color: var(--bar-color);
    height: 100%;
    width: calc(var(--bar-level) * 100%);
    border-radius: 1em;
    display: block;
}

.base-box {
    box-shadow: $light-shadow-color 0px 0px 20px -5px;
    border-radius: 2rem;
    background-color: $background-1;
    padding: 2rem;
}

body>.background {
    position: fixed;
    width: calc(max(100vw, 120vh));
    z-index: -1;
}
