$black: #000;
$white: #EEE;
$background-0: #1C1F23;
$background-1: #22262B;
$background-2: #384552;

$primary: #60A7D4;
$primary-dark: #4C7693;
$primary-light: #56ACE2;

$shadow-color: $black;
$shadow: 0 0.1rem 5px 2px #0005;

$light-shadow-color: #e0d8ce10;

$color-section-odd: #d1b794;
$color-section-even: #c1a784;

$header-bg: #000000;

$project-summary-height: 300px;

$margin-left: 130px;

$animation-scale: 50%;
$animation-time: 0.7s;
