.contact {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    .infos-list {
        line-height: 1.8rem;
        li>i {
            margin-right: 0.5rem;
        }
    }

    .socials {
        display: flex;
        flex-wrap: wrap;
        font-size: 2rem;
        gap: 1rem 1rem;
        a {
            background-color: $background-0;
            padding: 0.5rem;
            line-height: 32px;
            border-radius: 0.5rem;
            transition: background-color 200ms;
            &:hover {
                background-color: $background-2;
                text-decoration: none;
            }
        }
    }

    .cv-document {
        font-size: 1.2rem;
        text-align: center;
        font-weight: bold;
    }
}
