body.cv {
    width: 21cm;
    height: 29.7cm;
    box-sizing: border-box;
    padding: 0.5cm;
    border: solid #ff00ff 5px;
    font-size: 14px;
    background-color: white;

    a {
        color: inherit;
    }

    &>header {
        height: calc(5% - 0.3cm);
        width: 100%;
        position: static;

        display: flex;
        align-items: center;

        padding-inline: 1cm;
        margin-bottom: 0.3cm;

        border-radius: 1cm;
        font-size: 1rem;

        box-shadow: none;
        //display: none;
        display: flex;
        align-items: center;
        h1 {
            font-size: 1.2rem;
            letter-spacing: 0.13em;
            margin: 0;
            //align-self: flex-start;
        }
        a {
            //align-self: self-end;
            font-size: 1rem;
            padding: 0;
        }
    }
    main {
        height: 95%;
        display: flex;
        align-items: stretch;
        h2 {
            border: solid $primary 0;
            border-block-width: 0.2em;
            padding: 0.3em;
            font-weight: normal;
        }
        aside {
            min-width: 8cm;
            background-color: $background-1;
            opacity: 0.95;
            padding: 0.8cm 0.5cm;
            border-radius: 1cm;
            font-size: 0.40cm;
            display: flex;
            flex-direction: column;

            h2 {
                display: block;
                text-align: center;
                margin-block: 0 0.5cm;
                font-size: 1.2em;
            }
            section {
                margin-block: 0 0.6cm;
            }


            .languages {
                ul {
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;
                    gap: 1.5em;
                }
                li {
                    .language-title {
                        margin: 0.1em 0.5cm;
                        display: flex;
                        justify-content: space-between;
                    }
                    .range-bar {
                        background-color: white;
                    }
                }
                .language-level {
                    font-size: 0.8em;
                }
            }
            .hobbies, .skills {
                ul {
                    list-style: disc;
                    margin-left: 0.5cm;
                }
            }
            .cv-date {
                margin-top: auto;
                opacity: 0.3;
                text-align: center;
            }
        }
        .body {
            padding-inline: 0.5cm;
            padding-top: 0.8cm;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            height: 100%;
            * {
                color: black;
            }
            section>ul {
                list-style: none;
                margin: 0;
                &>li {
                    margin-block: 0.8cm;
                    &>h3 {
                        margin-block: 0;
                        margin-bottom: 0.2cm;
                    }
                    &>p {
                        margin-block: 0.1cm;
                        font-weight: bold;
                    }
                    &>div, &>p, &>span {
                        margin-left: 0.3cm;
                    }
                    &>div {
                        display: flex;
                        width: 100%;
                        justify-content: space-between;
                    }
                    &>ul {
                        list-style: inside;
                    }
                }
            }
            section {
                //margin-bottom: 0.6cm;
                text-align: justify;
                font-size: 0.35cm;
                h2 {
                    margin-top: 0;
                    font-size: 1.3em;
                }
                &.cv-footer {
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    background: $primary;
                    padding: 0.3cm;
                    border-radius: 0.5cm;
                    p {
                        margin-right: 0.5cm;
                    }
                    img {
                        max-height: 2cm;
                        background: white;
                        padding: 0.2cm;
                        border-radius: 0.3cm;
                    }
                }
            }
        }
    }
}

@media print {
    @page {
        size: 21cm 29.7cm;
        margin: 0;
    }
    body.cv {
        border: none;
    }
}
