footer {
    display: flex;
    flex-wrap: wrap;
    row-gap: 1rem;
    margin: 1rem;
    margin-top: 5rem;
    padding: 2rem 5rem;

    background-color: $background-1;
    border-radius: 5rem;

    nav {
        display: flex;
        gap: 2rem;
        margin-inline: auto;
        i {
            display: none;
        }
        span {
            color: $primary;
        }
    }
}
