body>header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    position: -webkit-sticky;
    position: sticky;
    top: 0.5em;
    z-index: 2;

    font-size: clamp(1rem, calc(1.0vw + .5rem), 1.5rem);

    width: 96vw;
    box-sizing: border-box;
    margin: auto;
    border-radius: 2em;
    padding: 0.5em 2em;

    background-color: $background-2;
    box-shadow: $shadow;
    
    a {
        &, * { 
            color: white;
        }
        transition: background-color 0.3s;
        font-size: 0.9em;
        padding: 0.4em 0.5em;
        border-radius: 0.8em;
        &:hover {
            background-color: #FFF2;
            text-decoration: none;
        }
    }

    &>nav {
        display: flex;
        list-style: none;
        margin: 0;
        padding: 0;
        
        a {
            margin: 0 0.5em;
            span {
                margin-left: 0.5em;
            }
        }
    }
}

@media screen and (max-width: 550px) {
    body>header>nav>a span {
        display: none;
    }
}


.site-title {
    font-size: 1.1em;
    font-family: 'Courier New', Courier, monospace;
}

