.home-header {
    display: flex;
    align-items: flex-start;
    min-height: 100vh;
    font-size: clamp(1rem, 4.5vw, 2rem);


    &>.welcome-text {
        margin-left: 2rem;
        flex-grow: 2;
        display: flex;
        flex-direction: column;
        align-self: stretch;
        &>h1 {
            font-size: 3em;
            font-weight: bolder;
            letter-spacing: 0.1em;
        }

        &>ul {
            list-style: "> ";
            margin-top: 10vh;
            li {
                font-family: 'Courier New', Courier, monospace;
                font-weight: bold;
                max-width: 40ch;
                color: white;
                text-shadow: $primary 0px 3px 10px;
            }
            li:last-child:after {
                content: "█";
                animation: blink 800ms infinite alternate;
            }
        }
        .scroll-arrow {
            position: absolute;
            align-self: center;
            text-align: center;
            font-size: clamp(1rem, 4vh, 3rem);
            padding: 0.3em;
            aspect-ratio: 1;
            width: 1.7em;
            height: 1.7em;
            bottom: 2em;
            border-radius: 50%;
            animation: bounce 1s infinite alternate;
        }
    }
    .background {
        z-index: -1;
        // opacity: 0.1;
        position: absolute;
        right: 0;
        left: 0;
        mask-image: linear-gradient(to right, transparent 0, black 60ch);
        mask-mode: alpha;
        overflow-x: hidden;
        &>div {
            margin-left: auto;
            height: 80vh;
            width: 80vh;
        }
    // background: linear-gradient(to right, $background-0 0%, #0000 40em);
    }
}

@keyframes bounce {
    0% {
        transform: translateY(0);
    }
    100% {
        transform: translateY(30%);
    }
}

@keyframes blink {
    0%, 20%{
        opacity: 0;
    }
    31%, 100% {
        opacity: 1;
    }
}

.home-section{
    display: flex;
    flex-direction: column;
    padding: 1rem;
    margin-bottom: 5rem;
    &> h2.title {
        align-self: stretch;
        text-align: center;
        border-block: solid 0.5rem $primary;
        padding-block: 1rem;
        margin: auto;
        margin-bottom: 2rem;
        width: calc(min(90%, 80ch));
    }
}

.presentation {
    display: flex;
    justify-content: center;
    align-items: center;

    min-height: 70vh;
    padding-top: 5rem;

    &> h1 {
        font-size: 3rem;
    }
    p {
        line-height: 1.8rem;
        text-align: justify;
    }
}


.presentation > .content {
    display: flex;
    justify-content: left;
    align-items: stretch;
    margin: 0rem;

    &>div {
        margin: 0.5rem;
        padding: 1rem;
        padding-left: 1.5rem;
        border: 0px solid;
        border-left-width: 5px;
        border-image: linear-gradient(180deg, $primary 0%, $primary-dark 100%) 1;
    }
    
    .detail-info {
        flex: 1 0 40vw;
        display: flex;
        flex-direction: column;
        //justify-content: space-around;
        max-width: 75ch;
    }

    .contact {
        max-width: 20rem;
        
    }
}

@media only screen and (max-width: 800px) {
    .presentation>.content {
        flex-direction: column;
        .contact {
            max-width: none;
        }
    }
}

.home-section.skills .skills-groups{

    display: flex;
    flex-direction: column;
    align-self: center;
    width: calc(min(130ch, 100vw));
    .skills-group {
        max-width: 80ch;
        margin-block: 2rem;
        border: solid 0px;
        border-color: #{$primary};
        --section-color: #{$primary};
        margin-inline: 5rem;
        &:not(.animate) {
            opacity: 0;
        }
        &:nth-child(even) {
            @extend .fade-from-left;
            align-self: end;
            border-left-width: 7px;
        }
        &:nth-child(odd) {
            @extend .fade-from-right;
            align-self: start;
            border-right-width: 7px;
        }
    }
    h3 {
        font-size: clamp(0.5em, 7vw, 2em);
    }

    .skills {
        font-size: 1.1rem;
        list-style: none;
        display: flex;
        flex-wrap: wrap;
    }
    .skill {
        margin: 0.3rem 1rem;
        background: $background-2;
        padding: 0.6rem;
        border-radius: 1rem;
        font-weight: bold;
        font-size: clamp(0.8em, 3vw, 1em);
        &::before {
            content: "\2219";
            color: $primary;
            font-weight: bold;
            margin-right: 0.5em;
        }
    }
}

.home-section.experiences {
    .experiences-list {
        align-self: center;
        max-width: 80ch;
        list-style: none;
        margin-block: 3rem;
        border-left: dotted 0.4rem;
        padding-inline: 3rem;
        &>.experience {
            position: relative;
            margin-block: 3rem;
            text-align: justify;
            &:after {
                position: absolute;
                display: block;
                content: "";
                width: 1rem;
                height: 1rem;
                border-radius: 100%;
                margin: auto;
                background-color: $primary;
                top: 0;
                bottom: 0;
                transform: translateX(-3.6rem);
            }
        }
    }
}

.home-section.languages {
    ul {
        align-self: center;
        width: calc(min(80ch, 90vw));
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(min-content, 20rem));
        justify-content: center;
        margin-left: 0;
        li {
            background: $background-1;
            margin: 1rem;
            padding: 1rem;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            .language-title {
                text-align: center;
                font-size: 200%;
            }
            .range-bar {
                margin-top: 0.6rem;
                height: 2.5em;
                    background-color: $background-0;
                &:after {
                    background-color: $background-2;
                }
                .language-level {
                    font-weight: bold;
                    font-size: 1.5em;
                    margin-inline: 0.5rem;
                }
            }
        }
    }
}

.home-section.studies {
    ul {
        display: grid;
        align-self: center;
        width: calc(min(60rem, 90vw));
        grid-template-columns: repeat(auto-fit, minmax(min-content, 30rem));
        justify-content: center;
        li {
            list-style: none;
            margin: 2rem;
            background: $background-2;
            justify-content: center;
            display: flex;
            flex-direction: column;
            img {
                width: 13rem;
                padding: 0.5rem;
                aspect-ratio: 1;
                object-fit: scale-down;

                background-color: white;
                border-radius: 1rem;
                align-self: center;
            }
        }
    }
}

.home-section.projects {
    background-color: $background-2;
    border-radius: 3rem;

    .projects-title {
        display: flex;
        justify-content: center;
        font-size: 1.7rem;
    }

    .show-more {
        display: flex;
        justify-content: center;
        font-size: 1.5em;
    }
}

.home-section.contact-form {
    align-self: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    &>form {
        width: calc(min(90vw, 80ch));
        display: flex;
        flex-direction: column;
        &>* {
            margin: 0.3rem;
            background-color: $background-2;
            border-radius: 0.8rem;
            padding: 0.8rem;
            border: solid $primary-dark 2px;
            box-shadow: $light-shadow-color 1px 1px 5px 2px;
            transition: 200ms;
        }

        &>textarea {
            resize: none;
            
        }

        &>button:hover {
            background-color: $primary-dark;
        }

        &>button:active {
            background-color: $primary-light;
        }
    }
}
