.projects-list-title {
    text-align: center;
    padding: 2rem;
    font-size: 1.5rem;
    h2 {
        margin: 0;
    }
}
.project-list {
    list-style: none;
    margin-block: 5vh;
    margin-inline: 1rem;
    padding-inline: 2rem;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(min-content, 20rem));
    justify-content: center;
    &>* {
        display: grid;
        justify-content: center;
    }
}

.project-summary {
    align-content: space-between;
    background-color: $background-1;
    box-shadow: $shadow;
    padding: 1rem;
    margin: 0.5rem;
    border-radius: 2em;
    transition: background-color 200ms;

    img {
        max-height: 100%;
        border-radius: 1rem;
        position: relative;
    }

    .thumbnail {
        border-radius: 1rem;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: auto;
        aspect-ratio: 1;
        overflow: hidden;
        height: 20rem;
    }

    .detail {
        display: flex;
        flex-direction: column;
        h2 {
            margin-bottom: 0;
        }
        .tag-list {
            flex-grow: 2;
        }
    }

    &:hover {
        text-decoration: none;
        background-color: $background-0;
    }
}

.tag-list {
    display: flex;
    gap: 0.5rem;
    flex-wrap: wrap;
}

a.tag-btn {
    font-size: 0.9rem;
    display: inline-block;
    color: $white;
    text-decoration: none;
    font-weight: normal;
    background-color: $primary-dark;
    border-radius: 2rem;
    padding: 0.2rem 0.4rem;

    &:hover {
        background-color: $primary;
    }
}

.project-content {
    font-size: 1.05rem;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    max-width: 80ch;
    margin: 1rem auto;
    .project-head {
        display: flex;
        align-items: start;
        flex-direction: column;
        justify-content: space-between;
        h1 {
            font-size: 4em;
            margin: 0px;
            text-align: center;
        }
        
        .tag-list {
            margin-bottom: 2rem;
        }

        .related-links {
            display: flex;
            flex-direction: row;
            justify-content: center;
            margin-block: 0.5rem;
            font-size: 1em;
        }
    }

    .project-body {
        &>div {
            background-color: $background-1;
            border-radius: 1rem;
            padding: 1rem;
            text-align: justify;

            ul {
                list-style: outside disc;
                margin-left: 2rem;
                li {
                    margin-block: 0.5rem;
                }
            }

            video, img{
                max-width: 100%;
            }

            h1, h2, h3, h4, h5, h6 {
                margin: 1.5em 0;
                padding-bottom: 0.3em;
                border: solid $background-2 0;
                border-bottom-width: 1px;
            }
        }
    }
}
