<!DOCTYPE html>
<html>
    <head>
        {{ partial "head.html" . }}
        {{ block "head" . }}
        {{ end }}
        <title>
            {{ block "title" .}}
            Error no title
            {{ end }}
        </title>
    </head>
    <body>
        {{ block "header" . }}
        {{ partial "header.html" . }}
        {{ end }}
        <div class="background">
            {{ partial "background.html" . }}
        </div>
        <main>
            {{ block "main" . }}{{ end }}
        </main>
        {{ block "footer" . }}
        {{ partial "footer.html" . }}
        {{ end }}
    </body>
</html>
