
<svg xlink="http://www.w3.org/1999/xlink" viewBox="0 0 5000 5000" xmlns="http://www.w3.org/2000/svg"
                                                                  >
    <defs>
         <filter id="blur">
            <feGaussianBlur in="SourceGraphic" stdDeviation="10"></feGaussianBlur>
        </filter>
        <radialGradient id="fadeGrad" y2="1" x2="0">
            <stop offset="0" stop-color="white" stop-opacity="1"/>
            <stop offset="0.05" stop-color="white" stop-opacity="0.01"/>
            <stop offset="1" stop-color="white" stop-opacity="0"/>
        </radialGradient>

        <mask id="fade" maskContentUnits="objectBoundingBox">
            <rect width="1" height="1" fill="url(#fadeGrad)"/>
        </mask>

        {{ range (seq 5) }}
        <circle cx="0" cy="0" r="{{ math.Add (math.Mul . 50) 50}}" id="circle-{{ . }}">
        <!-- <circle cx="0" cy="0" r="50" id="circle-{{ . }}"> -->

        </circle>
        {{ end }}
    </defs>
    <!-- <rect id="RECT" width="5000" height="5000" fill="#111"></rect> -->
    <g id="group" fill="#FFF" filter="url(#blur)" opacity="1">
    {{ $seed := now.Unix }}
    {{ range (seq 20) }}
    {{ $seed = math.Add (math.Mul 13 $seed) 97 }}
    {{ $x := math.Abs (sub (math.Mod $seed 6000) 500) }}
    {{ $seed = math.Add (math.Mul 13 $seed) 97 }}
    {{ $y := math.Abs (sub (math.Mod $seed 6000)  500) }}
    {{ $seed = math.Add (math.Mul 13 $seed) 97 }}
    {{ $size := math.Add (math.Abs (math.Mod $seed 5)) 1 }}
    {{ $seed = math.Add (math.Mul 13 $seed) 97 }}
    {{ $color := math.Abs (math.Mod $seed 360) }}
    <use x="{{ $x }}" y="{{ $y }}" href="#circle-{{ $size }}" 
                                   fill="hsl({{ $color }}, 100%, 80%)" 
                                   mask="url(#fade)">
    </use>
    {{ end }}
    </g>
</svg>
