<div class="contact">
    <ul class="infos-list not-a-list">
        {{ with .Site.Params }}
        <li><i class="nf nf-fa-user"></i><b> {{ .name }}</b></li>
        <li><i class="nf nf-md-cake_variant"></i>
            <b id="age-span">{{ .birthDate }}</b>
            <b> {{ T "years" }}</b></li>
        <li><i class="nf nf-oct-location"></i><b> {{ .localisation }}</b></li>
        <li>
            <i class="nf nf-fa-phone"></i>
            <b><a href="tel:{{ .phone }}">{{ .phone }}</a></b>
        </li>
        <li>
            <i class="nf nf-fa-envelope"></i>
            <b><a href="mailto:{{ .email }}">{{ .email }}</a></b>
        </li>
        {{ end }}
    </ul>
    <div class="socials">
        {{ range .Site.Params.socials }}
        <a title="{{ .name }}" href="{{ .link }}" target="_blank">
                <i class="{{ .icon }}"></i></a>
        {{ end }}
    </div>
    {{ if .Site.Params.fileCV }}
    {{ $file := resources.Get .Site.Params.fileCV }}
    <a class="button cv-document" href="{{ $file.Permalink }}" target="_blank">
        <i class="nf nf-cod-file_pdf"></i>  {{ T "myCV" }}</a>
    {{ end }}
</div>
