<footer>
    <nav>
        <a href="{{ .Site.BaseURL }}">{{ .Site.Title }}</a>
    {{ partial "nav.html" . }}
    </nav>
    <nav>
        <a href="{{ .Site.Params.projectRepo }}" target="_blank">{{ T "projectRepo" }}</a>
        <span>Powered by <a href="https://gohugo.io/" target="_blank">Hugo</a></span>
    </nav>
</footer>
