{{ $context := . }}
<nav>
    {{ range .Site.Menus.main }}
    <a href="{{ $context.Site.BaseURL }}{{ .URL }}">
        <i class="nf {{ .Pre }}"></i>
        <span>{{ .Name }}<span>
    </a>
    {{ end }}
    {{ range .Site.Params.socials }}
    <a href="{{ .link }}"><i class="{{ .icon }}"></i></a>
    {{ end }}
    {{ if .Site.Params.fileCV }}
    {{ $file := resources.Get .Site.Params.fileCV }}
    <a href="{{ $file.Permalink }}" target="_blank">
        <i class="nf nf-cod-file_pdf"></i>
    </a>
    {{ end }}
</nav>
