{{ define "head" }}
<script src="/js/shaders.js"></script>
<script type="module" src="/js/fractal.js" defer></script>
{{ end }}

{{ define "title" }}
{{ .Site.Params.name }}
{{ end }}

{{ define "main" }}
{{ partial "home.html" . }}
{{ end }}
