<div class="home-section contact-form">
    <h2 class="title">{{ T "contactMe" }}</h2>
    <form class="base-box fade-and-rotation animated-on-scroll" action="https://airform.io/ulysse.touze_buord@yahoo.com" method="post">
        <input type="text" name="name" placeholder="{{ T "yourName"}}">
        <input type="email" name="email" placeholder="{{T "yourEmail" }}">
        <textarea name="message" placeholder="{{ T "yourMessage" }}"
            rows=10></textarea>
        <button>{{ T "send" }}</button>
    </form>
</div>
