{{ with .Site.Params.experience }}
<section class="home-section experiences">
    <h2 class="title">{{ T "experience" }}</h2>
    <ul class="experiences-list">
        {{ range sort . "weight" }}
            <li class="experience animated-on-scroll fade-from-bottom">
                <h3>{{ .name }}</h3>
                <p>{{ .description }}</p>
                <ul>
                    {{ range .detail }}
                    <li>{{ . }}</li>
                    {{ end }}
                </ul>
                <span>{{ .from }} {{ if .to }} — {{ .to }}{{ end }}</span>
            </li>
        {{ end }}
    </ul>
</section>
{{ end }}
