<section class="home-section languages">
    <h2 class="title">{{ T "languages" }}</h2>
    <ul class="not-a-list">
        {{ range .Site.Params.language }}
        <li class="base-box">
            <div class="language-title">
                <span>{{ .name }}</span>
            </div>
            <p>{{ .description }}</p>
            <div class="range-bar animated-on-scroll" style="--bar-level: {{ .note }}">
                <span class="language-level">{{ .level }}</span>
            </div>
        </li>
        {{ end }}
    </ul>
</section>
