<section class="home-section presentation" id="presentation">
    <div class="content animated-on-scroll fade-from-right base-box">
        {{ partial "contact.html" . }}
        <div class="detail-info">
            <h1 class="section-title">{{ T "presentation" }}</h1>
            <p>{{ .Site.Params.presentation }}</p>
        </div>
    </div>
</section>
