<section class="home-section projects">
    <h2 class="title">{{ T "myProjects" }}</h2>
    <div class="project-list">
        {{ $projects := .Site.Params.homeProjects }}
        {{ $portfolio := .Site.GetPage "/projects" }}
        {{ range $projects }}
                {{ $page := $portfolio.GetPage . }}
                <div class="animated-on-scroll fade-from-bottom">
                {{ $page.Render "summary" }}
                </div>
            {{ end }}
    </div>
    <div class="show-more">
        <a class="button" href="{{ .Site.BaseURL }}/projects">{{ T "moreProjects" }}</a>
    </div>
</section>
