{{ with .Site.Params.skillsGroup }}
<section class="home-section skills">
    <div class="skills-groups">
        {{ range . }}
        <div class="skills-group animated-on-scroll base-box" 
            {{ if .color }} style="border-color: {{ .color }};" {{ end }}>
            <h3>{{ .name }}</h3>
            {{ if .description }}
            <p class="description">{{ .description }}</p>
            {{ end }}
            <ul class="skills not-a-list">
                {{ range .skills }}
                <li class="skill" >{{ . }}</li>
                {{ end }}
            </ul>
        </div>
        {{ end }}
    </div>
</section>
{{ end }}
