<section class="home-section studies">
    <h2 class="title">{{ T "studies" }}</h2>
    <ul>
        {{ range .Site.Params.study }}
        <li class="base-box animated-on-scroll fade-from-back">
            {{ $path :=  path.Join "/img/studies/" .logo }}
            {{ $img := resources.Get $path }}
            <img src="{{ $img.RelPermalink }}"></img>
            <h3>{{ .title }}</h3>
            <p>{{ .location }}</p>
        </li>
        {{ end }}
    </ul>
</section>
