<section class="home-section home-header">
    <div class="welcome-text">
        <!-- <h1>{{ T "welcome" }}</h1> -->
        <ul>
            {{  range .Site.Params.heroSubTitle }}
            <li>{{ . }}</li>
            {{ end }}
        </ul>
        <a class="scroll-arrow button" href="#presentation">
            <i class="nf nf-fa-angle_down"></i>
        </a>
    </div>
    <div class="background">
        {{ if .Site.Params.homeHeaderBackground }}
        {{ $image := resources.Get .Site.Params.homeHeaderBackground }}
        <!-- <img src="{{ $image.Permalink}}"></img> -->
        {{ end }}
        <div>
            <canvas id="fractal"> </canvas>
        </div>
    </div>
</section>
